<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#"><h2><b>Rideshare with Desi</b></h2></a>
  <form class="form-inline">
  <!--<button class="btn btn-outline-primary my-2 my-sm-0 my-lg-0 " type="submit">Signin</button>-->
  <button routerLink="/post" class="btn btn-outline-primary my-2 my-sm-0 my-lg-0" type="submit">Post A Trip</button>
  </form>
  <login-buttons class="pull-right"></login-buttons>
</nav>



<div class="container-fluid">
  <router-outlet></router-outlet>
</div>