<div class="row ma-ride-details-container">
  <div class="col-sm-6">
   
    <form class="form-horizontal" *ngIf="ride">
       <legend> Trip Information </legend>
       <p><b>{{ride.from_location.name}} to {{ride.to_location.name}}</b></p>
       <p>Start Date {{ride.date | date }}  Estimated Start time {{ride.date | date:'shortTime'}}</p>
 
      <button type="button" class="btn btn-success">Contact Me</button>

    
 
      <div class="form-group">
        <a [routerLink]="['/']" class="btn">Back</a>
      </div>
    </form>
    </div>
    <div class="col-sm-6">
    <div class="angular-google-map-container">
      <sebm-google-map
        [latitude]="lat || centerLat"
        [longitude]="lng || centerLng"
        [zoom]="8"
        (mapClick)="mapClicked($event)">
        <sebm-google-map-marker
          *ngIf="lat && lng"
          [latitude]="lat"
          [longitude]="lng">
        </sebm-google-map-marker>
      </sebm-google-map>
    </div>
  </div>
</div>